@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --- Base Colors --- */
    --woo-bg: #f9fafb;
    --woo-card: #ffffff;
    --woo-text: #111827;
    /* Gray 900 */
    --woo-text-secondary: #6b7280;
    /* Gray 500 */
    --woo-text-muted: #9ca3af;
    /* Gray 400 - Dùng cho icon/placeholder */
    --woo-text-inverse: #ffffff;
    /* Chữ trắng trên nền màu */

    --woo-border: #e5e7eb;
    /* Gray 200 */
    --woo-border-hover: #d1d5db;
    /* Gray 300 */

    /* --- Brand Colors --- */
    --woo-primary: #0d724f;
    --woo-primary-hover: #01653b;
    --woo-primary-light: #d1fae5;
    /* Nền nhạt cho icon/active */

    /* --- Status Colors --- */
    --woo-error: #ef4444;
    /* Red 500 */
    --woo-success: #22c55e;
    /* Green 500 */
  }

  /* Dark Mode Support */
  .dark {
    --woo-bg: #0f172a;
    --woo-card: #1e293b;
    --woo-text: #f8fafc;
    --woo-text-secondary: #6b7280;
    --woo-text-muted: #64748b;
    --woo-text-inverse: #ffffff;

    --woo-border: #334155;
    --woo-border-hover: #475569;

    --woo-primary: #00b371;
    --woo-primary-hover: #00965e;
    --woo-primary-light: #00965e20;

    --woo-error: #f87171;
    --woo-success: #4ade80;
  }
}

body {
  @apply bg-woo-bg;
}
